html, body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: "Roboto", "PT Sans", sans-serif;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    position: relative;
}

/*Override the stupid padding / margin that comes with bootstrap*/
.row pre {
    padding: 0;
    margin: 0;
    border-radius: 0;
}
/* Scrollbar override */
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-thumb {
    background: #000000; 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0,0,0,0.8); 
}

.pim-image-thumb-div {
    width: 196px;
    height: 196px;

    padding: 0px;
    margin: 10px;


    position: relative;
    display: inline-block;
    float: left;

    -webkit-box-shadow: 3px 3px 1px 0px rgba(0,0,0,0.6);  

    overflow: hidden;  
}