html, body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: "Roboto", "PT Sans", sans-serif;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    position: relative;
}

/*Override the stupid padding / margin that comes with bootstrap*/
.row pre {
    padding: 0;
    margin: 0;
    border-radius: 0;
}
/* Scrollbar override */
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-thumb {
    background: #000000; 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0,0,0,0.8); 
}

/*Header*/
#pim-header-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;

    background-color: #000000;

    z-index: 10;
}
/*Rest*/
#pim-content-div {
    top: 60px;
    left: 0;
    width: 100%;
    bottom: 0;
    overflow-y: auto;

    margin: 0;
    position: absolute;
    text-align:center;

    z-index: 0;
}

/*Main container for an image*/
.pim-image-thumb {
    width: 196px;
    height: 220px;

    padding: 0px;
    margin: 10px;

    position: relative;
    display: inline-block;

    -webkit-box-shadow: 3px 3px 1px 0px rgba(0,0,0,0.6);  

    overflow: hidden;  
    background-color: #000000;

    cursor: pointer;
}

.pim-image-header {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    line-height: 24px;
    width: 100%;

    background-color: #000000;
    color: #ffffff;
    -webkit-transition: all 0.33s linear 0.0s;
    opacity: 0.6;
}
.pim-image-header.selected {
    opacity: 1;
}

.pim-center-image {
    width: 50%;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;

}
.pim-image-img {
    width: 100%;
    height: auto;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

/*Image tools*/
.pim-image-toolbox {
    position: absolute;
    left: 0;
    width: 100%;
    height: 25px;
    line-height: 25px;

    cursor: default;

    bottom: 0;

    color: #ffffff;
    background-color: rgba(255,255,255,0.1);
    -webkit-transition: all 0.33s linear 0.0s;
}
.pim-image-toolbox.hide_toolbox {
    bottom: -25px;
}
.pim-image-toolbox i {
    -webkit-transition: all 0.33s linear 0.0s;
    border: 1px solid transparent;
    cursor: pointer;
    padding-right: 8px;
}
.pim-image-toolbox i:hover {
    color: orange;
}
.pim-image-toolbox i:last-child:hover {
    color: red;
}



/*Directive style for dropdown*/
.pim-dropdown-container {
    margin-top: 10px;
    margin-left: 10px;

    width: auto;
    max-height: 40px;
    border: 2px solid #ffffff;

    background-color: #000000;

    -webkit-transition: all 0.33s linear 0.0s;
    overflow: hidden;
}
.pim-dropdown-container.pim-expanded {
    max-height: 300px;
}
.pim-dropdown-header {
    height: 40px;
    line-height: 40px;

    color: #ffffff;
    -webkit-transition: all 0.33s linear 0.0s;
    cursor: pointer;

    text-align: center;
}
.pim-dropdown-header:hover {
    color: orange;
    background-color: rgba(255,255,255,0.0);
}
.pim-dropdown-add-album,
.pim-dropdown-item {
    color: #ffffff;
    background-color: #000000;
    height: 40px;
    line-height: 40px;
    padding-left: 10px; padding-right: 10px;

    border-top: 2px solid #222222;
    cursor: pointer;
    -webkit-transition: all 0.33s linear 0.0s;
}
.pim-dropdown-add-album:hover,
.pim-dropdown-item:hover {
    background-color: rgba(255,255,255,0.3);
}
.pim-dropdown-add-album {
    text-align: center;
}
.pim-dropdown-add-album:hover {
    background-color: rgba(0,255,0,0.3);
}
