html, body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: "Roboto", "PT Sans", sans-serif;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    position: relative;
}

/*Override the stupid padding / margin that comes with bootstrap*/
.row pre {
    padding: 0;
    margin: 0;
    border-radius: 0;
}
/* Scrollbar override */
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.3);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0,0,0,0.8);
}
textarea:focus, input:focus, *.focus{
    outline: 0;
}


#pim-full-header-div {
    position: relative;
    width: 100%;
    height: 62px;
    background-color: #000000;
    -webkit-transition: all 0.61s linear 0.0s;
}
#pim-full-header-div.expanded {
    height: 100%;
}


#pim-header-div {
    position: absolute;
    bottom: 0;
    height: 62px;
    width: 100%;
    background-color: #000000;
    border-top: 2px solid #000000;
    -webkit-transition: all 0.61s linear 0.0s;
}
#pim-header-div.expanded {
    border-top: 2px solid #ffffff;
}
.pim-header-dropdown-sizer {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    max-width: 350px;
    height: 100%;
    -webkit-transition: all 0.61s linear 0.0s;

    z-index: 12;
}
.pim-header-dropdown-sizer.hidden {
    left: -70%;
    display: block!important;
}
.pim-header-link-sizer {
    position: absolute;
    top: 0;
    right: 0;
    width: 72px;
    height: 100%;
    -webkit-transition: all 0.61s linear 0.0s;

    z-index: 11;
}
.pim-header-link-sizer.expanded {
    width: 100%;
}

#pim-settings-div {
    background-color: #111111;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin-bottom: 62px;
    overflow: hidden;
    overflow-y: auto;
    color: #ffffff;
}
#pim-settings-div::-webkit-scrollbar-thumb {
    background: #ffffff;
}
.pim-settings-container {
    width: 95%;
    max-width: 500px;
    margin: 0 auto;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    padding-bottom: 10px;
    max-height: 62px;
    overflow: hidden;
    -webkit-transition: all 0.60s linear 0.0s;
}
.pim-settings-container.expanded {
    max-height: 1000px;
}
.pim-settings-container h3 {
    text-align: left;
    cursor: pointer;
}

#pim-save-btn-container {
    position: absolute;
    top: 9px;
    right: 0px;
    height: 42px;
    width: 88px;
    margin-right: 15px;
    z-index: 100;
    color: #ffffff;
    overflow: hidden;
    -webkit-transition: all 0.30s linear 0.0s;
}
#pim-save-btn-container.shrunk {
    right: 57px;
}

.pim-default-settings-btn {
    position: absolute;
    width: 42px;
    height: 42px;
    top: 9px; left: 0px;

    margin-left: 15px;
    padding-left: 7px;
    padding-top: 6px;

    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 100%;

    cursor: pointer;
    -webkit-transition: all 0.30s linear 0.0s;
    opacity: 1;
}
.pim-default-settings-btn.hidden {
    display: block!important;
    opacity: 0;
}
.pim-default-settings-btn:hover,
.pim-default-settings-btn:focus {
    color: #000000;
    background-color: #ffffff;
}









.pim-settings-btn {
    margin-top: 9px;

    margin-left: auto;
    margin-right: auto;

    position: relative;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 100%;

    width: 42px;
    height: 42px;

    right: 0;

    cursor: pointer;
    -webkit-transition: all 0.30s linear 0.0s;
    z-index: 101;
}
.pim-settings-btn i {
    position: absolute;
    top: 6px;
    left: 7px;
    -webkit-transition: all 0.30s linear 0.0s;
}
.pim-settings-btn:hover {
    color: #000000;
    background-color: #ffffff;
}
.pim-settings-btn.expanded i {
    position: absolute;
    left: 6px;
}








/*Help div*/
.pim-help-div {
    width: 90%;
    max-height: 140px;
    overflow-y: auto;
    margin: 0 auto;
    border-radius: 2px;

    background-color: #222222;
    color: #999999;

    -webkit-transition: all 0.30s linear 0.0s;
}
.pim-help-div * {
    margin: 5px;
}
.pim-help-div.hidden {
    max-height: 0px;
    opacity: 0;
    display: block!important;
}






















































/*****************************************************************\

    BEGIN - pimImageThumb

\*****************************************************************/
.pim-image-thumb {
    width: 196px;
    height: 220px;

    padding: 0px;
    margin: 10px;

    position: relative;
    display: inline-block;

    -webkit-box-shadow: 3px 3px 1px 0px rgba(0,0,0,0.6);

    overflow: hidden;
    background-color: #000000;

    cursor: pointer;
}

.pim-image-header {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    line-height: 24px;
    width: 100%;

    background-color: #000000;
    color: #ffffff;
    -webkit-transition: all 0.30s linear 0.0s;
    opacity: 0.6;
}
.pim-image-header.selected {
    opacity: 1;
}

.pim-center-image {
    width: 50%;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;

}
.pim-image-img {
    width: 100%;
    height: auto;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

/*Image toolbox*/
.pim-image-toolbox {
    position: absolute;
    left: 0;
    width: 100%;
    height: 25px;
    line-height: 25px;

    cursor: default;

    bottom: 0;

    color: #ffffff;
    background-color: rgba(255,255,255,0.1);
    -webkit-transition: all 0.30s linear 0.0s;
}
.pim-image-toolbox.hide_toolbox {
    bottom: -25px;
}
.pim-image-toolbox i {
    -webkit-transition: all 0.30s linear 0.0s;
    border: 1px solid transparent;
    cursor: pointer;
    padding-right: 8px;
}
.pim-image-toolbox i:hover {
    color: orange;
}
.pim-image-toolbox i:last-child:hover {
    color: red;
}
/*****************************************************************\

    END - pimImageThumb

\*****************************************************************/



/*****************************************************************\

    BEGIN - pimDropdown

\*****************************************************************/
.pim-dropdown-container {
    margin: 10px;

    width: auto;
    max-height: 40px;
    border: 2px solid #ffffff;

    background-color: #000000;

    -webkit-transition: all 0.30s linear 0.0s;
    overflow: hidden;
}
.pim-dropdown-container.pim-expanded {
    max-height: 300px;
}
.pim-dropdown-header {
    height: 36px;
    line-height: 36px;

    color: #ffffff;
    -webkit-transition: all 0.30s linear 0.0s;
    cursor: pointer;

    text-align: center;
}
.pim-dropdown-header:hover {
    color: #000000;
    background-color: #ffffff;
}

/*Selective style for some of the icons*/
.pim-dropdown-add-album,
.pim-dropdown-item {
    color: #ffffff;
    background-color: #000000;
    height: 40px;
    line-height: 40px;
    padding-left: 10px; padding-right: 10px;

    border-top: 2px solid #222222;
    cursor: pointer;
    -webkit-transition: all 0.30s linear 0.0s;
}
.pim-dropdown-add-album:hover,
.pim-dropdown-item:hover {
    background-color: rgba(255,255,255,0.3);
}
.pim-dropdown-add-album {
    text-align: center;
}
.pim-dropdown-add-album:hover {
    background-color: rgba(0,255,0,0.3);
}
/*****************************************************************\

    END - pimDropdown

\*****************************************************************/


/*****************************************************************\

    BEGIN - pimCheckbox

\*****************************************************************/
.pim-checkbox-container {
    position: relative;
    width:  100%;
    height: 40px;
    -webkit-transition: all 0.30s linear 0.0s;
    overflow: hidden;

    font-size: 13pt;
}
.pim-checkbox-indicator {
    position: relative;
    width: 24px;
    height: 24px;
    top: 6px;

    margin-left: 10px; margin-right: 10px;

    border: 2px solid #ffffff;
    background-color: #000000;
    color: #000000;

    float: left;

    -webkit-transition: all 0.30s linear 0.0s;
    cursor: pointer;
}
.pim-checkbox-indicator.selected {
    background-color: orange;
    border: 2px solid #ffffff;
}
.pim-checkbox-prompt-container {
    position: relative;
    height: 24px;
    line-height: 24px;
    top: 6px;
    cursor: pointer;
    float: left;
}
.pim-checkbox-prompt-alt,
.pim-checkbox-prompt {
    position: absolute;
    top: 2px;
    width: 100%;
    height: 100%;
    left: 0;
    opacity: 1;
    font-size: 11pt;
    color: #999999;
    -webkit-transition: all 0.30s linear 0.0s;
}
.pim-checkbox-prompt.unselected,
.pim-checkbox-prompt-alt.unselected {
    top: -100%;
    opacity: 0;
}
.pim-checkbox-text {
    position: relative;
    height: 24px;
    top: 6px;
    line-height: 24px;
    float: left;

    font-size: 14pt;
    margin-right: 10px;
}
/*****************************************************************\

    END - pimCheckbox

\*****************************************************************/












/*****************************************************************\

    BEGIN - pimSaveJsonBtn

\*****************************************************************/
.pim-json-transport-btn {
    position: relative;

    width: 100%;
    height: 100%;

    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 42px;

    font-size: 15pt;
    cursor: pointer;
    -webkit-transition: all 0.30s linear 0.0s;

    padding-left: 8px; padding-top: 5px;
    opacity: 1;
}
.pim-json-transport-btn.shrunk {
    width: 42px;
    margin-left: 45px;
    font-size: 17pt;
    padding-left: 10px; padding-top: 3px;
}
.pim-json-transport-btn.hidden,
.pim-json-transport-btn.shrunk.hidden {
    display: block!important;
    opacity: 0;
}
.pim-json-transport-btn.shrunk:hover,
.pim-json-transport-btn:hover {
    background-color: rgba(0,0,255,0.6);
}
/*****************************************************************\

    END - pimSaveJsonBtn

\*****************************************************************/
