<!DOCTYPE html>
<html lang="en" ng-app="PIMageApp">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <link rel="stylesheet" href="/external/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/external/css/bootstrap.min.css">
    <link rel="stylesheet" href="/external/css/animate.css">
    <link rel="stylesheet" href="/css/style.css">

    <title>RaspberryPImage</title>

</head>
<body ng-controller="AppController">
   
    <!-- Header div for the dropdown / other buttons always visible -->
    <div id="pim-full-header-div" ng-class="{'expanded': show_settings}">

        <div id="pim-settings-div">

            <div class="pim-settings-container">
                <h3>General Settings:</h3>

                <pim-checkbox
                    value = "settings.general.show_additional_help"
                    prompt = "show" prompt-alt = "hide"> Details
                </pim-checkbox>
                <pim-help-frame show="settings.general.show_additional_help">
                    Show / hide expanded information for the varittings.
                </pim-help-frame>
            </div>

            <div class="pim-settings-container">
                <h3>Preview Window:</h3>
                
                <pim-checkbox
                    value = "settings.preview.fullscreen"
                    prompt = "enable" prompt-alt = "disable"> Full Screen
                </pim-checkbox>
                <pim-help-frame show="settings.general.show_additional_help">
                    --fullscreen (-f), Fullscreen preview mode.
                </pim-help-frame>
                <pim-settings-spacer vertical-space="5px"></pim-settings-spacer>

                <pim-checkbox
                    value = "settings.preview.nopreview"
                    prompt = "enable" prompt-alt = "disable"> No Preview
                </pim-checkbox>
                <pim-help-frame show="settings.general.show_additional_help">
                    --nopreview (-n), Do not display a preview window.
                </pim-help-frame>

            </div>

            <div class="pim-settings-container">
                <h3>Camera Control Options:</h3>

                <pim-checkbox
                    value = "settings.camera.vstab"
                    prompt = "enable" prompt-alt = "disable"> Video Stabilization
                </pim-checkbox>
                <pim-help-frame show="settings.general.show_additional_help">
                    --vstab (-vs), Turn on video stabilizaton.
                </pim-help-frame>
                <pim-settings-spacer vertical-space="5px"></pim-settings-spacer>

                <pim-checkbox
                    value = "settings.camera.hflip"
                    prompt = "enable" prompt-alt = "disable"> Horizontal Flip
                </pim-checkbox>
                <pim-help-frame show="settings.general.show_additional_help">
                    --hflip (-hf), Set horizontal flip
                </pim-help-frame>
                <pim-settings-spacer vertical-space="5px"></pim-settings-spacer>

                <pim-checkbox
                    value = "settings.camera.vflip"
                    prompt = "enable" prompt-alt = "disable"> Vertical Flip
                </pim-checkbox>
                <pim-help-frame show="settings.general.show_additional_help">
                    --vflip (-vf), Set vertical flip
                </pim-help-frame>

            </div>

        </div>

        <div id="pim-header-div">
            <!-- This is the dropdown directive holder, this is used to position this 
            appropriately, as well as easily hide it if we are showing the settings
            page -->
            <div class="pim-header-dropdown-sizer" ng-class="{'hidden': show_settings}">
                <pim-dropdown
                    albums       = "albums"
                    prompt       = "Choose Album" />
            </div>

            <div class="pim-header-spacer" ng-class="{'hidden': show_settings}"></div>

            <div class="pim-header-link-sizer" ng-class="{'expanded': show_settings}">
                <div class="pim-settings-btn" ng-click="show_settings = !show_settings" ng-class="{'expanded': show_settings}">
                    <i class="fa fa-2x fa-bars" ng-class="{'fa-rotate-90': show_settings}"></i>
                </div>
            </div>
        </div>

    </div>

    <div id="pim-content-div">
        <div ng-view></div>
    </div>

    <script src="/external/js/underscore.min.js"></script>
    <script src="/external/js/jquery.js"></script>
    <script src="/external/js/bootstrap.min.js"></script>
    <script src="/external/js/angular.js"></script>
    <script src="/external/js/angular.animate.js"></script>
    <script src="/external/js/angular.route.js"></script>

    <script src="/js/app.controller.js"></script>

    <script>
        // On document ready...
        $(document).ready(function() {
            console.log("Page ready");
        });
    </script>

</body>
</html>







