<!DOCTYPE html>
<html lang="en" ng-app="PIMageApp">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <link rel="stylesheet" href="/external/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/external/css/bootstrap.min.css">
    <link rel="stylesheet" href="/external/css/animate.css">
    <link rel="stylesheet" href="/css/style.css">

    <title>RaspberryPImage</title>

</head>
<body ng-controller="AppController">
   
    <!-- Header div for the dropdown / other buttons always visible -->
    <div id="pim-full-header-div" ng-class="{'expanded': show_settings}">

        <div id="pim-settings-div">

            <div class="pim-settings-container" ng-class="{'expanded': !a_expanded}">
                <h3 ng-click="a_expanded = !a_expanded">General Settings:</h3>

                <pim-checkbox
                    value = "settings.general.show_help"
                    prompt = "show" prompt-alt = "hide"> Details
                </pim-checkbox>
                <pim-help-frame show="settings.general.show_help">
                    Show / hide expanded information for the varittings.
                </pim-help-frame>
                <pim-settings-spacer vertical-space="10px"></pim-settings-spacer>

                <pim-checkbox
                    value = "settings.general.enable_autosave"
                    prompt = "enable" prompt-alt = "disable"> Enable Autosave
                </pim-checkbox>
                <pim-help-frame show="settings.general.show_help">
                    Enable the autosaving of settings. This will be typically done when the settings div is collapsed.
                </pim-help-frame>
                <pim-settings-spacer vertical-space="10px"></pim-settings-spacer>

            </div>

            <div class="pim-settings-container" ng-class="{'expanded': b_expanded}">
                <h3 ng-click="b_expanded = !b_expanded">Preview Window:</h3>
                
                <pim-checkbox
                    value = "settings.preview.fullscreen"
                    prompt = "enable" prompt-alt = "disable"> Full Screen
                </pim-checkbox>
                <pim-help-frame show="settings.general.show_help">
                    --fullscreen (-f), Fullscreen preview mode.
                </pim-help-frame>
                <pim-settings-spacer vertical-space="10px"></pim-settings-spacer>

                <pim-checkbox
                    value = "settings.preview.nopreview"
                    prompt = "enable" prompt-alt = "disable"> No Preview
                </pim-checkbox>
                <pim-help-frame show="settings.general.show_help">
                    --nopreview (-n), Do not display a preview window. Camera will produce frames even with this disabled.
                </pim-help-frame>
                <pim-settings-spacer vertical-space="10px"></pim-settings-spacer>

                <pim-slider
                    value = "settings.preview.opacity"
                    min = "0" max = "255" default = "255"> Opacity 
                </pim-slider>
                <pim-help-frame show="settings.general.show_help">
                    --opacity (-op), Set preview window opacity. 0 = invisible, 255 = fully opaque. Default is 255 (opaque).
                </pim-help-frame>
                <pim-settings-spacer vertical-space="10px"></pim-settings-spacer>

            </div>

            <div class="pim-settings-container" ng-class="{'expanded': c_expanded}">
                <h3 ng-click="c_expanded = !c_expanded">Camera Control Options:</h3>

                <pim-slider
                    value = "settings.camera.sharpness"
                    min = "-100" max = "100" default = "0"> Sharpness 
                </pim-slider>
                <pim-help-frame show="settings.general.show_help">
                    --sharpness (-sh), Set the image sharpness. Default is 0.
                </pim-help-frame>
                <pim-settings-spacer vertical-space="10px"></pim-settings-spacer>

                <pim-slider
                    value = "settings.camera.contrast"
                    min = "-100" max = "100" default = "0"> Contrast 
                </pim-slider>
                <pim-help-frame show="settings.general.show_help">
                    --contrast (-co), Set the image contrast. Default is 0.
                </pim-help-frame>
                <pim-settings-spacer vertical-space="10px"></pim-settings-spacer>

                <pim-slider
                    value = "settings.camera.brightness"
                    min = "0" max = "100" default = "50"> Brightness 
                </pim-slider>
                <pim-help-frame show="settings.general.show_help">
                    --brightness (-br), Set the brightness of the image, 50 is the default. 0 is black, 100 is white.
                </pim-help-frame>
                <pim-settings-spacer vertical-space="10px"></pim-settings-spacer>

                <pim-slider
                    value = "settings.camera.saturation"
                    min = "-100" max = "100" default = "0"> Saturation 
                </pim-slider>
                <pim-help-frame show="settings.general.show_help">
                    --saturation (-sa), Set the color saturation of the image. 0 is the default.
                </pim-help-frame>
                <pim-settings-spacer vertical-space="10px"></pim-settings-spacer>

                <pim-slider
                    value = "settings.camera.ISO"
                    min = "100" max = "800" default = "100"> ISO 
                </pim-slider>
                <pim-help-frame show="settings.general.show_help">
                    --ISO (-ISO), Sets the ISO to be used for captures. Range is 100 to 800.
                </pim-help-frame>
                <pim-settings-spacer vertical-space="10px"></pim-settings-spacer>

                <pim-checkbox
                    value = "settings.camera.vstab"
                    prompt = "enable" prompt-alt = "disable"> Video Stabilization
                </pim-checkbox>
                <pim-help-frame show="settings.general.show_help">
                    --vstab (-vs), Turn on video stabilizaton (This only applies to video modes).
                </pim-help-frame>
                <pim-settings-spacer vertical-space="10px"></pim-settings-spacer>

                <pim-slider
                    value = "settings.camera.ev"
                    min = "-10" max = "10" default = "0"> EV Compensation 
                </pim-slider>
                <pim-help-frame show="settings.general.show_help">
                    --ev (-ev), Set the EV compensation of the image. Range is -10 to +10, default is 0.
                </pim-help-frame>
                <pim-settings-spacer vertical-space="10px"></pim-settings-spacer>

                <pim-checkbox
                    value = "settings.camera.hflip"
                    prompt = "enable" prompt-alt = "disable"> Horizontal Flip
                </pim-checkbox>
                <pim-help-frame show="settings.general.show_help">
                    --hflip (-hf), Set horizontal flip
                </pim-help-frame>
                <pim-settings-spacer vertical-space="10px"></pim-settings-spacer>

                <pim-checkbox
                    value = "settings.camera.vflip"
                    prompt = "enable" prompt-alt = "disable"> Vertical Flip
                </pim-checkbox>
                <pim-help-frame show="settings.general.show_help">
                    --vflip (-vf), Set vertical flip
                </pim-help-frame>
                <pim-settings-spacer vertical-space="10px"></pim-settings-spacer>

            </div>

        </div>

        <div id="pim-header-div">
            <!-- This is the dropdown directive holder, this is used to position this 
            appropriately, as well as easily hide it if we are showing the settings
            page -->
            <div class="pim-header-dropdown-sizer" ng-class="{'hidden': show_settings}">
                <pim-dropdown
                    albums       = "albums"
                    prompt       = "Choose Album" />
            </div>

            <div class="pim-header-spacer" ng-class="{'hidden': show_settings}"></div>

            <div class="pim-header-link-sizer" ng-class="{'expanded': show_settings}">
                <div class="pim-settings-btn" ng-click="show_settings = !show_settings" ng-class="{'expanded': show_settings}">
                    <i class="fa fa-2x fa-bars" ng-class="{'fa-rotate-90': show_settings}"></i>
                </div>
                <div class="pim-save-btn" ng-click="" ng-class="{'visible': settings_changed, 'shrunken': !show_settings}">
                    <div ng-if="show_settings" style="float: left; margin-right: 5px;">Save </div><i class="fa fa-save"></i>
                </div>
            </div>
        </div>

    </div>

    <div id="pim-content-div">
        <div ng-view></div>
    </div>

    <script src="/external/js/underscore.min.js"></script>
    <script src="/external/js/jquery.js"></script>
    <script src="/external/js/bootstrap.min.js"></script>
    <script src="/external/js/angular.js"></script>
    <script src="/external/js/angular.animate.js"></script>
    <script src="/external/js/angular.route.js"></script>

    <script src="/js/app.controller.js"></script>

    <script>
        // On document ready...
        $(document).ready(function() {
            console.log("Page ready");
        });
    </script>

</body>
</html>







