<!DOCTYPE html>
<html lang="en" ng-app="PIMageApp">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <link rel="stylesheet" href="/external/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/external/css/bootstrap.min.css">
    <link rel="stylesheet" href="/external/css/animate.css">
    <link rel="stylesheet" href="/css/style.css">

    <title>RaspberryPImage</title>

</head>
<body ng-controller="AppController">

    
    <!-- Header div for the dropdown / other buttons always visible -->
    <div id="pim-full-header-div" ng-class="{'expanded': show_settings}">

        <div id="pim-settings-div">
            
        </div>

        <div id="pim-header-div">
            <!-- This is the dropdown directive holder, this is used to position this 
            appropriately, as well as easily hide it if we are showing the settings
            page -->
            <div class="pim-header-dropdown-sizer" ng-class="{'hidden': show_settings}">
                <pim-dropdown
                    albums       = "albums"
                    prompt       = "Choose Album" >
                </pim-dropdown>
            </div>

            <div class="pim-header-spacer" ng-class="{'hidden': show_settings}"></div>

            <div class="pim-header-link-sizer" ng-class="{'expanded': show_settings}">
                <div class="pim-settings-btn" ng-click="show_settings = !show_settings" ng-class="{'expanded': show_settings}">
                    <i class="fa fa-2x fa-bars" ng-class="{'fa-rotate-90': show_settings}"></i>
                </div>
            </div>
        </div>

    </div>

    <div id="pim-content-div">
        <div ng-view></div>
    </div>

    <script src="/external/js/underscore.min.js"></script>
    <script src="/external/js/jquery.js"></script>
    <script src="/external/js/bootstrap.min.js"></script>
    <script src="/external/js/angular.js"></script>
    <script src="/external/js/angular.animate.js"></script>
    <script src="/external/js/angular.route.js"></script>

    <script src="/js/app.controller.js"></script>

    <script>
        // On document ready...
        $(document).ready(function() {
            console.log("Page ready");
        });
    </script>

</body>
</html>







