<!DOCTYPE html>
<html lang="en" ng-app="PIMageApp">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <link rel="stylesheet" href="/external/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/external/css/bootstrap.min.css">
    <link rel="stylesheet" href="/external/css/animate.css">
    <link rel="stylesheet" href="/css/style.css">

    <title>RaspberryPImage</title>

</head>
<body ng-controller="AppController">

    <div id="pim-header-div">
        <select ng-model="selected_album" ng-options="album.name for album in albums" ng-init="selected_album = selected_album || album[0]" style="font-family:'FontAwesome', Arial;">
            <option>Choose Album &quot;</option>
        </select>
        <div class="btn btn-primary" ng-disabled="!selected_album" ng-click="take_picture()">
            <i class="fa fa-camera"></i>&nbsp;Take a Picture
        </div>
    </div>
    <hr>

    <div id="pim-content-div">
        <div id="links">
            <pim-image-thumb ng-repeat="image in images" album-name="{{selected_album.name}}" image-name="{{image.name}}" on-delete="delete_image($index, selected_album.name, image.name)" class="pim-image-thumb-div"></pim-image-thumb>
        </div>
    </div>

    <script src="/external/js/underscore.min.js"></script>
    <script src="/external/js/jquery.js"></script>
    <script src="/external/js/bootstrap.min.js"></script>
    <script src="/external/js/angular.js"></script>
    <script src="/external/js/angular.animate.js"></script>
    <script src="/external/js/angular.touch.js"></script>

    <script src="/js/app.controller.js"></script>

    <script>
        // On document ready...
        $(document).ready(function() {
            console.log("Page ready");
        });
    </script>

</body>
</html>







